.u-section-1 {
  background-image: url("images/love.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 671px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 850px;
  margin: 60px 0 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 15px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 8px 0 0;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(0, 150, 136) !important;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(0, 150, 136) !important;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(0, 150, 136) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(0, 150, 136) !important;
}

.u-section-1 .u-text-4 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 32px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1212px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 101px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  width: 455px;
  margin: 22px auto 0;
}

.u-section-2 .u-list-1 {
  width: 868px;
  margin: 41px auto 9px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 914px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 242px;
  height: 242px;
  background-image: url("images/high_tech_industrial_zone_master_planning.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -202px 0 0 297px;
}

.u-section-2 .u-text-4 {
  margin: -3px 30px 0 297px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 43px auto 0 297px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  width: 242px;
  height: 242px;
  background-image: url("images/south_lake_master_planning.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -202px 0 0 297px;
}

.u-section-2 .u-text-6 {
  margin: -3px 30px 0 297px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 43px auto 0 297px;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  font-size: 1.4em;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  width: 242px;
  height: 242px;
  background-image: url("images/WasteCollectionPointsandPovertyRate.jpg");
  background-position: 50% 50%;
  margin: 3px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -202px 0 0 297px;
}

.u-section-2 .u-text-8 {
  margin: -3px 30px 0 297px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 43px auto 0 297px;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 219px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-text-3 {
    text-transform: none;
    letter-spacing: normal;
    width: 611px;
    margin-right: 125px;
    margin-left: 74px;
  }

  .u-section-2 .u-text-5 {
    text-transform: none;
    letter-spacing: normal;
    width: 611px;
  }

  .u-section-2 .u-text-7 {
    text-transform: none;
    letter-spacing: normal;
    width: 611px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 76px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 147px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 149px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 95px;
    margin-left: 147px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 147px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 149px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 147px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 147px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 520px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    width: 520px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    width: 520px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 320px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -89px;
  }

  .u-section-2 .u-text-5 {
    width: 320px;
    margin-top: 183px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -89px;
  }

  .u-section-2 .u-text-7 {
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1956px;
}

.u-section-3 .u-text-1 {
  margin: 95px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 22px 343px 0;
}

.u-section-3 .u-list-1 {
  width: 868px;
  margin: 25px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 1689px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 19px 30px 0;
}

.u-section-3 .u-image-1 {
  width: 242px;
  height: 242px;
  object-position: 100% 50%;
  background-image: url("images/housing_price_prediction.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: -198px 0 0 293px;
}

.u-section-3 .u-text-4 {
  margin: 1px 0 0 293px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 39px auto 0 293px;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 19px 30px 0;
}

.u-section-3 .u-image-2 {
  width: 242px;
  height: 242px;
  object-position: 100% 50%;
  background-image: url("images/building_permit_delay.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: -198px 0 0 293px;
}

.u-section-3 .u-text-6 {
  margin: 1px 0 0 293px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 39px auto 0 293px;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 19px 30px 0;
}

.u-section-3 .u-image-3 {
  width: 242px;
  height: 242px;
  background-image: url("images/downtown_atlanta_project1.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: -198px 0 0 293px;
}

.u-section-3 .u-text-8 {
  margin: 1px 0 0 293px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 39px auto 0 293px;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  font-size: 1.4em;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 19px 30px 0;
}

.u-section-3 .u-image-4 {
  width: 242px;
  height: 242px;
  object-position: 0% 50%;
  background-image: url("images/Picture11.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: -198px 0 0 293px;
}

.u-section-3 .u-text-10 {
  margin: 1px 0 0 293px;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 39px auto 0 293px;
  padding: 0;
}

.u-section-3 .u-icon-4 {
  font-size: 1.4em;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 19px 30px 0;
}

.u-section-3 .u-image-5 {
  width: 242px;
  height: 242px;
  object-position: 20.41% 50%;
  background-image: url("images/ca-organics.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  margin: -198px 0 0 293px;
}

.u-section-3 .u-text-12 {
  margin: 1px 0 0 293px;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 39px auto 0 293px;
  padding: 0;
}

.u-section-3 .u-icon-5 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 455px;
    margin-right: 364px;
    margin-left: 121px;
  }

  .u-section-3 .u-text-2 {
    width: 455px;
    margin-right: 121px;
    margin-left: 364px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -197px;
    width: 611px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -197px;
    width: 611px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -197px;
    width: 611px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -197px;
    width: 611px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -197px;
    width: 611px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 199px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 66px;
    margin-left: 199px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 147px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 145px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 147px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 145px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 147px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 145px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 147px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 145px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 147px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 145px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 64px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 21px;
    margin-left: 64px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    width: 520px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    width: 520px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    width: 520px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    width: 520px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    width: 520px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 320px;
    margin-top: 96px;
  }

  .u-section-3 .u-text-5 {
    width: 320px;
    margin-top: 96px;
  }

  .u-section-3 .u-text-7 {
    width: 320px;
    margin-top: 96px;
  }

  .u-section-3 .u-text-9 {
    width: 320px;
    margin-top: 96px;
  }

  .u-section-3 .u-text-11 {
    width: 320px;
    margin-top: 96px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 260px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 237px;
  margin: -40px 0 60px 77px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-custom-html-1 {
    height: auto;
    margin-left: 0;
  }
}